

<!-- show all list of plans -->
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Plan list info <small>Show the list of all plans.</small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table id="plan_list_table" class="table table-striped table-bordered table-condensed"></table>
    </div>
  </div>
</div>

<!-- Show detail plan info -->
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Plan detail info <small>Show the specified plan's detail info.</small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <div class="col-xs-6">
        <!-- <p class="lead" align="center">Basic info</p> -->
        <form class="form-horizontal form-label-left">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">UUID</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" readonly="readonly" placeholder="" id="plan_detail_uuid">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_name">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_description">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tech name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_tech_name">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Trunk name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_trunk_name">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Dial mode</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_dial_mode">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Dial timeout</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_dial_timeout">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Dial list end handle</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_dl_end_handle">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Caller id</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_caller_id">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Service level</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_service_level">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Early media</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_early_media">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Codecs</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_codecs">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Variables</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_variables">
            </div>
          </div>



        </form>
      </div>

      <div class="col-xs-6">
        <!-- <p class="lead" align="center">Other info</p> -->

        <form class="form-horizontal form-label-left">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Retry delay</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_retry_delay">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Max retry count 1</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_max_retry_count_1">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Max retry count 2</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_max_retry_count_2">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Max retry count 3</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_max_retry_count_3">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Max retry count 4</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_max_retry_count_4">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Max retry count 5</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_max_retry_count_5">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Max retry count 6</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_max_retry_count_6">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Max retry count 7</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_max_retry_count_7">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Max retry count 8</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="" id="plan_detail_max_retry_count_8">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">In use</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" readonly="readonly" placeholder="" id="plan_detail_in_use">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Time create</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" readonly="readonly" placeholder="" id="plan_detail_tm_create">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Time update</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" readonly="readonly" placeholder="" id="plan_detail_tm_update">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Time delete</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" readonly="readonly" placeholder="" id="plan_detail_tm_delete">
            </div>
          </div>

        </form>

      </div>

    </div> <!-- <div class="x_content"> -->

    <div align="right">
      <button type="button" id="campaign_detail_button_create" onclick="bt_create_plan_detail()" class="btn btn-primary btn-lg">Create</button>
      <button type="button" id="campaign_detail_button_update" onclick="bt_update_plan_detail()" class="btn btn-success btn-lg">Update</button>
      <button type="button" id="campaign_detail_button_delete" onclick="bt_delete_plan_detail()" class="btn btn-danger btn-lg">Delete</button>
    </div>

  </div>
</div> <!-- row -->


<!-- -->
<script src="./js/ob/ob_plan.js"></script>
