
<!-- show all list -->
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Backup voicemail config list info <small>Show the list of all backup voicemail configs.</small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <table id="list_table" class="table table-striped table-bordered table-condensed"></table>
    </div>
  </div>
</div>

<!-- show detail -->
<div class="row">
  <div class="x_panel">
    <div class="x_title">
      <h2>Backup voicemail config detail info <small>Show the detail of backup voicemail configs.</small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <textarea readonly id="list_detail" class="form-control" rows="50"></textarea>
    </div>
  </div>
</div>

<div align="right">
  <button type="button" id="bt_delete_list_detail" onclick="bt_delete_list_detail()" class="btn btn-success btn-lg">Delete</button>
</div>


<script src="js/voicemail/backup_settings.js"></script>
